.offerCardList {
  max-width: 900px;
}

.offerCard {
  background: white;
  margin: 24px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.02);
  border-radius: 8px;
  min-height: 128px;
}

.flag {
  padding: 4px 16px;
  background: hsl(0, 0%, 87%);
  color: #111;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 8px 8px 0px 0px;
}

.offerBody {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 5fr 3fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-areas:
    "wordmark wordmark amount term monthly continue"
    "wordmark wordmark callouts callouts callouts callouts";
    text-align: center;
}

.offerBody h4 {
  margin: 8px;
}

.wordmark, .amount, .term, .monthly, .callouts, .continue {
  justify-self: center;
  align-self: center;
}

.flag, .amount, .term, .monthly, .term {
  min-height: 16px;
}

.wordmark {
  grid-area: wordmark;

}

.amount {
  grid-area: amount;
}

.term {
  grid-area: term;
}

.monthly {
  grid-area: monthly;
}

.continue {
  width: 104px;
  text-align: center;
  margin: 16px;
  grid-area: continue;
  background: hsl(0,0%,15%);
  color: #FFF;
  border-radius: 12px;
  padding: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
  text-shadow: 0px 2px 2px rgb(255 255 255 / 20%);
}

.callouts {
  grid-area: callouts;
  display: flex;
}

.calloutPill {
  font-size: 0.8em;
  background: hsl(0, 0%, 87%);
  margin: 0px 8px;
  padding: 4px 12px;
  border-radius: 10px;
  min-height: 16px;
}

@media screen and (max-width: 600px) {
  .wordmark {
    height: 80px;
  }

  .offerBody {
    margin: 8px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 60px 40px 60px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-areas:
    "wordmark wordmark wordmark"
    "amount term monthly"
    "callouts callouts callouts"
    "continue continue continue";
    text-align: center;
  }

  .continue {
    margin: 0px 0px 8px 0px;
  }
}
